<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KSIC</title>

    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">

    <script src="/jquery/jquery-3.4.1.min.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>
</head>

<body class="text-center">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <img class="mb-4" src="/images/logo.jpg" alt="" width="340">
                <h1>500 Internal Server Error</h1>
                <div class="error-details">
                    서버 내부 에러가 발생했습니다.
                </div>
                <br/>
                <div class="error-actions">
                    <a href="javascript:history.back();" class="btn btn-primary btn-lg">뒤로가기</a>
                    <a href="/" class="btn btn-success btn-lg">메인으로 가기</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
