<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KSIC</title>

    <link href="/assets/css/loader.css" rel="stylesheet" type="text/css" />
    <script src="/assets/js/loader.js"></script>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link href="/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/forms/theme-checkbox-radio.css">

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->

    <style>
        .layout-px-spacing {
            min-height: calc(100vh - 166px)!important;
        }
        .title {
            padding-bottom: 50px;
        }
    </style>

    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->
</head>

<body data-spy="scroll" data-target="#navSection" data-offset="100">
    <!-- BEGIN LOADER -->
    <div id="load_screen"> <div class="loader"> <div class="loader-content">
        <div class="spinner-grow align-self-center"></div>
    </div></div></div>
    <!--  END LOADER -->

    <div class="row">
        <div class="col-lg-4 col-12 mx-auto text-center title">
            <h3>학회 관리자 로그인</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-12 mx-auto">
            <div class="form-group">
                <label for="email">아이디(이메일)</label>
                <input id="email" type="email" name="email" placeholder="ID(E-Mail)" class="form-control" value="<%=email !== undefined ? email : ''%>" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-12 mx-auto">
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input id="password" type="password" name="password" placeholder="PASSWORD" class="form-control" value="<%=password !== undefined ? password : ''%>" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-12 mx-auto">
            <div class="n-chk">
                <label class="new-control new-checkbox checkbox-primary">
                    <input type="checkbox" class="new-control-input" id="save-info" <%=email !== undefined || password !== undefined ? 'checked' : ''%>>
                    <span class="new-control-indicator"></span>ID/PW 저장
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-12 mx-auto text-center">
            <button class="btn btn-primary mb-4 mr-2 btn-lg" id="login-btn">로그인</button>
        </div>
    </div>

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="/bootstrap/js/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script src="/assets/js/custom.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src="/assets/js/scrollspyNav.js"></script>

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="/javascripts/common.js"></script>
    <script src="/javascripts/login.js"></script>
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>
</html>
