<ul class="pagination">
    <%
    const show_size = 5;
    // const min_page = Math.max(1, current_page - 5);
    // const max_page = Math.min(Math.ceil(total_count / count_per_page), current_page + 5);
    const min_page = Math.max(1, Math.floor((current_page - 1) / show_size) * show_size + 1);
    const max_page = Math.min(Math.ceil(total_count / count_per_page), min_page + show_size - 1);
    const prev_min_page = Math.max(1, current_page - show_size);
    const next_max_page = Math.min(Math.ceil(total_count / count_per_page), current_page + show_size);
    if (current_page === 1) {
        %><li  class="prev"><a href="javascript:paginationClick(<%=current_page%>);"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></a></li><%
    } else {
        %><li  class="prev"><a href="javascript:paginationClick(<%=prev_min_page%>);"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></a></li><%
    }
    for (let page = min_page; page <= max_page; page++) {
        %><li class="<%=page === current_page ? 'active' : ''%>"><a href="javascript:paginationClick(<%=page%>);"><%=page%></a></li><%
    }
    if (current_page === Math.ceil(total_count / count_per_page)) {
        %><li class="next"><a href="javascript:paginationClick(<%=current_page%>);"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a></li><%
    } else {
        %><li class="next"><a href="javascript:paginationClick(<%=next_max_page%>);"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a></li><%
    }
    %>
</ul>