<!--  BEGIN SIDEBAR  -->
<div class="sidebar-wrapper sidebar-theme">
    
    <nav id="sidebar">
        <div class="shadow-bottom"></div>

        <ul class="list-unstyled menu-categories" id="accordionExample">
            <!--<li class="menu">
                <a href="#starter-kit" data-active="true" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-terminal"><polyline points="4 17 10 11 4 5"></polyline><line x1="12" y1="19" x2="20" y2="19"></line></svg>
                        <span>Starter Kit</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="submenu list-unstyled collapse show" id="starter-kit" data-parent="#accordionExample" style="">
                    <li class="active">
                        <a href="starter_kit_blank_page.html"> Blank Page </a>
                    </li>
                    <li>
                        <a href="starter_kit_breadcrumbs.html"> Breadcrumbs </a>
                    </li>
                    <li>
                        <a href="starter_kit_boxed.html"> Boxed </a>
                    </li>
                    <li>
                        <a href="starter_kit_alt_menu.html"> Alternate Menu </a>
                    </li>
                </ul>
            </li>-->

            <li class="menu">
                <a href="#users" <% if (active === 'users') { %>data-active="true"<% } %> data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                        <span> 회원 관리</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled <% if (active === 'users') { %>show<% } %>" id="users" data-parent="#accordionExample">
                    <li <% if (active === 'users' && sub_active === 'list') { %>class="active"<% } %>>
                        <a href="/users/list"> 회원 조회 및 관리 </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"> 신청자 조회 및 관리 </a>
                    </li>                           
                </ul>
            </li>

            <li class="menu">
                <a href="#conference" <% if (active === 'conference') { %>data-active="true"<% } %> data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg>
                        <span> 학술대회 관리</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled <% if (active === 'conference') { %>show<% } %>" id="conference" data-parent="#accordionExample">
                    <li>
                        <a href="javascript:void(0);"> 학술대회 개설 </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"> 학술대회 목록 </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"> 학술대회 세부관리 </a>
                    </li>
                </ul>
            </li>

            <li class="menu">
                <a href="#etc" <% if (active === 'etc') { %>data-active="true"<% } %> data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                        <span> 기타</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled <% if (active === 'etc') { %>show<% } %>" id="etc" data-parent="#accordionExample">
                    <li>
                        <a href="javascript:void(0);"> 팝업관리 </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"> 이메일/SMS 발송 관리 </a>
                    </li>
                </ul>
            </li>
        </ul>
        
    </nav>

</div>
<!--  END SIDEBAR  -->