body {
  padding-top: 110px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

thead tr {
  background-color: #f2f2f2;
}
thead tr th {
  vertical-align: middle !important;
  padding: 5px 12px !important;
  height: 63px;
}
tbody tr td {
  vertical-align: middle !important;
  height: 63px;
}

#sns-table {
  margin: 0 0 15px;
  border-top: solid 1px lightgray;
}

#sns-table .card {
  border: solid 1px lightgray;
  border-top: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
#sns-table .card #hide {
  position: absolute;
  right: 15px;
  top: 166px;
  z-index: 5;
}
#sns-table .card:nth-child(5n + 4),
#sns-table .card:nth-child(5n + 3),
#sns-table .card:nth-child(5n + 2),
#sns-table .card:nth-child(5n) {
  border-left: none;
}

#sns-table .card * {
  line-height: 1rem;
}
#sns-table .card-text {
  margin-bottom: 0;
}
#sns-table .card-text.nickname,
#sns-table .card-text.hashtag,
#sns-table .card-text.count,
#sns-table .card-text.upload,
#sns-table .card-text.exhibition {
  margin-bottom: 0.5rem;
}
#sns-table .card-text.exhibition {
  color: #880000;
}
#sns-table .card-text.contents {
  color: gray;
  /*display: inline-block;*/
  /*width: 448px;*/
  /*overflow: hidden;*/
  /*-ms-text-overflow: ellipsis;*/
  /*text-overflow: ellipsis;*/
  /*white-space: normal;*/
  /*line-height: 1.2;*/
  /*height: 3rem;*/
  /*text-align: left;*/
  /*-ms-word-wrap: break-word;*/
  /*word-wrap: break-word;*/
  /*display: -webkit-box;*/
  /*-webkit-line-clamp: 3;*/
  /*-webkit-box-orient: vertical;*/
}
#sns-table .card-text.contents p {
  margin-bottom: 0;
}

.card-body {
  padding: 1.25rem 0;
}

.sns-checkbox {
  position: relative;
  left: 0;
  top: 10px;
  z-index: 1000;
}

.sidebar {
  background-color: #f2f2f2 !important;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  left: 0;
  top: 110px;
}
.sidebar .nav-link {
  color: black;
  border-bottom: solid 1px lightgray;
  padding-top: 15px;
  padding-bottom: 15px;
}
.sidebar .nav-link:after {
  content: '>';
  float: right;
}
.sidebar .nav-link.active {
  background-color: lightgray;
}

main {
  padding-top: 20px;
  padding-bottom: 20px;
}

.datepicker.datepicker-dropdown {
  z-index: 10000 !important;
}

.data-tr {
  cursor: pointer;
}

.preview {
  max-width: 100px;
  max-height: 100px;
}

.preview-video {
  max-width: 500px;
  max-height: 500px;
}

.goods-description {
  display: block;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}
.goods-description * {
  display: inline !important;
}

.input-daterange input {
  text-align: left;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 5px;
}
.carousel-item {
  text-align: center;
  text-align: -webkit-center;
}
.carousel-item * {
  height: 130px;
  width: auto;
  max-width: 266px;
}

.navbar {
  border-bottom: solid 1px lightgray;
  background-color: white;
}
.navbar h2 {
  padding-left: 50px;
}

.form-signin {
  width: 340px;
  margin-left: calc(50% - 170px);
}
#loginBtn {
  width: 34%;
  margin-left: 33%;
}

.w-30 {
  width: 30%!important;
}
.w-40 {
  width: 40%!important;
}

#search-keywords span {
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 1px 5px;
  margin-right: 2px;
  display: inline-block;
}
#search-keywords span:after {
  content:" x";
  cursor: pointer;
}

#search-keywords-tr td {
  height: inherit;
}

.up, .down {
  border: none;
  background: transparent;
}

input[type=radio] {
  margin-right: 10px;
}

input[type=radio] + label {
  margin-right: 20px;
}

.form-control {
  height: 40px;
}

.form-control[type=checkbox] {
  width: 20px;
  height: 20px;
}

.form-control[type=radio] {
  display: inline-block;
  width: 20px;
  height: 40px;
  vertical-align: top;
}

.profits-container {
  padding: 15px 0;
  background-color: #d1d1d1;
  margin-left: 0;
  margin-right: 0;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow-x: hidden;
  width: 264px;
  white-space: nowrap;
}
