<div class="row">
    <div class="col-lg-12 col-12 mx-auto title">
        <h3>회원관리 - 회원 조회 및 관리</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-1 col-12 mx-auto">
        <select class="form-control" id="sort">
            <option value="">All</option>
            <option value="name">이름 순</option>
            <option value="villes">신청 학술대회 순</option>
            <option value="stop">활동 정지내역 순</option>
        </select>
    </div>
    <div class="col-lg-3 col-12 mx-auto">
      <div class="input-group mb-4">
        <input type="text" class="form-control" placeholder="" aria-label="">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">검색</button>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-12 mx-auto">
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-12 mx-auto">
        <h5>회원정보</h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-12 mx-auto">
      <div class="form-group row mb-4">
          <label for="name" class="col-sm-1 col-form-label">성함</label>
          <div class="col-sm-3">
              <input type="text" class="form-control" id="name" value="<%=user.name%>">
          </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-12 mx-auto">
      <div class="form-group row mb-4">
          <label for="email" class="col-sm-1 col-form-label">이메일</label>
          <div class="col-sm-3">
              <input type="email" class="form-control" id="email" value="<%=user.email%>">
          </div>
          <div class="col-sm-1">
              <button class="btn btn-outline-primary mb-2">수신 동의</button>
          </div>
          <div class="col-sm-1">
              <button class="btn btn-primary mb-2">이메일 발송</button>
          </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-12 mx-auto">
      <div class="form-group row mb-4">
          <label for="mobile" class="col-sm-1 col-form-label">연락처</label>
          <div class="col-sm-3">
              <input type="number" class="form-control" id="mobile" value="<%=user.mobile%>">
          </div>
          <div class="col-sm-1">
              <button class="btn btn-outline-primary mb-2">수신 동의</button>
          </div>
          <div class="col-sm-1">
              <button class="btn btn-primary mb-2">문자 발송</button>
          </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-12 mx-auto">
      <div class="form-group row mb-4">
          <label for="password" class="col-sm-1 col-form-label">비밀번호</label>
          <div class="col-sm-3">
              <input type="password" class="form-control" id="password">
          </div>
          <div class="col-sm-1">
              <button class="btn btn-primary mb-2">초기화</button>
          </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-12 mx-auto">
      <div class="form-group row mb-4">
          <label for="hospital" class="col-sm-1 col-form-label">소속</label>
          <div class="col-sm-3">
              <input type="text" class="form-control" id="hospital" value="<%=user.hospital%>">
          </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-12 mx-auto">
      <div class="form-group row mb-4">
          <label for="department" class="col-sm-1 col-form-label">진료과</label>
          <div class="col-sm-3">
              <input type="text" class="form-control" id="department" value="<%=user.department%>">
          </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-12 mx-auto">
      <div class="form-group row mb-4">
          <label for="type" class="col-sm-1 col-form-label">구분</label>
          <div class="col-sm-3">
              <select class="form-control" id="type">
                  <option value="doctor" <%=user.type === "doctor" ? "selected" : ""%>>의사</option>
                  <option value="specialist" <%=user.type === "specialist" ? "selected" : ""%>>의사</option>
                  <option value="resident" <%=user.type === "resident" ? "selected" : ""%>>의사</option>
                  <option value="fellow" <%=user.type === "fellow" ? "selected" : ""%>>의사</option>
                  <option value="etc" <%=user.type === "etc" ? "selected" : ""%>>기타</option>
              </select>
          </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-12 mx-auto">
      <div class="form-group row mb-4">
          <label for="licenseNumber" class="col-sm-1 col-form-label">면허번호</label>
          <div class="col-sm-3">
              <input type="number" class="form-control" id="licenseNumber" value="<%=user.licenseNumber%>">
          </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-12 mx-auto">
      <div class="form-group row mb-4">
          <label for="conference" class="col-sm-1 col-form-label">신청 학술대회</label>
          <div class="col-sm-3">
              <input type="text" class="form-control" id="conference">
          </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-12 mx-auto">
      <div class="form-group row mb-4">
          <label for="createdAt" class="col-sm-1 col-form-label">가입일</label>
          <div class="col-sm-3">
              <input type="text" class="form-control" id="createdAt" value="<%=user.createdAt%>" readonly>
          </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-12 mx-auto">
      <div class="form-group row mb-4">
          <label for="stop" class="col-sm-1 col-form-label">활동정지</label>
          <div class="col-sm-3">
              <input type="text" class="form-control" id="stop">
          </div>
          <div class="col-sm-1">
              <button class="btn btn-primary mb-2">활동 정지</button>
          </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-12 mx-auto">
      <div class="form-group row mb-4">
          <label for="agreement" class="col-sm-2 col-form-label">제 3자 개인정보활용 동의</label>
          <div class="col-sm-2">
              <input type="text" class="form-control" id="agreement">
          </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-12 mx-auto">
      <div class="form-group row mb-4">
          <label for="memo" class="col-sm-1 col-form-label">메모</label>
          <div class="col-sm-5">
              <textarea class="form-control" id="memo" rows="3"></textarea>
          </div>
          <div class="col-sm-1">
              <button class="btn btn-primary mb-2" style="margin-top: 56px;">수정완료</button>
          </div>
      </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-12 col-12 mx-auto">
        <h5>참여내역</h5>
    </div>
</div>
<div class="col-lg-4 col-12  layout-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">                                
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12" style="margin-top: 10px;">
                    <h4 style="display: inline-block; vertical-align: bottom;"><%=user.name%>님의 총 이수시간</h4>
                    <h2 style="display: inline-block; vertical-align: middle;">201분</h2>
                </div>
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4 style="display: inline-block; vertical-align: bottom;"><%=user.name%>님의 총 예상평점</h4>
                    <h2 style="display: inline-block; vertical-align: middle;">3점</h2>
                    <span style="vertical-align: super;">(60분에 1점)</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-7 col-12 mx-auto">
        <h5>2021.01.01</h5>
    </div>
</div>
<div class="row">
  <div class="col-lg-7 col-12">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped mb-4">
          <thead>
              <tr>
                  <th>Title</th>
                  <th>최초 입장시간</th>
                  <th>최종 퇴장시간</th>
                  <th>총 이수시간</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td>[세션제목]</td>
              <td>09:00</td>
              <td>09:51</td>
              <td>51분</td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-lg-7 col-12 mx-auto">
        <button class="btn btn-primary mb-2">더보기</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-7 col-12 mx-auto">
        <h5>E-TEST</h5>
    </div>
</div>
<div class="row">
  <div class="col-lg-7 col-12">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped mb-4">
          <thead>
              <tr>
                  <th>NO.</th>
                  <th>세션명</th>
                  <th>맞힌 정답</th>
                  <th>제출일자</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>[세션명]</td>
              <td>10/10</td>
              <td>yyyy.MM.dd / hh:mm</td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-lg-7 col-12 mx-auto">
        <button class="btn btn-primary mb-2">더보기</button>
    </div>
</div>
<hr />