<div class="row">
    <div class="col-lg-12 col-12 mx-auto title">
        <h3>회원관리 - 회원 조회 및 관리</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-1 col-12 mx-auto">
        <select class="form-control" id="sort">
            <option value="">All</option>
            <option value="name">이름 순</option>
            <option value="villes">신청 학술대회 순</option>
            <option value="stop">활동 정지내역 순</option>
        </select>
    </div>
    <div class="col-lg-3 col-12 mx-auto">
      <div class="input-group mb-4">
        <input type="text" class="form-control" placeholder="" aria-label="">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">검색</button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12 mx-auto">
    </div>
    <div class="col-lg-2 col-12 mx-auto">
      <button class="btn btn-primary mb-4 mr-2 btn-lg">목록 다운로드</button>
    </div>
</div>
<div class="row">
  <div class="col-lg-12 col-12 mx-auto">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped mb-4">
          <thead>
              <tr>
                  <th>No.</th>
                  <th>이름</th>
                  <th>이메일</th>
                  <th>연락처</th>
                  <th>신청 학술대회</th>
                  <th>활동 정지 내역</th>
              </tr>
          </thead>
          <tbody id="user-list">
          </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-12 mx-auto">
      <div class="paginating-container pagination-solid">
        <ul class="pagination">
        </ul>
    </div>
  </div>
</div>