<table id="list">
  <%
  for (const user of users) {
    %>
    <tr onclick="userList.gotoDetail(<%=user.userId%>)" style="cursor: pointer;">
      <td><%=user.userId%></td>
      <td><%=user.name%></td>
      <td><%=user.email%></td>
      <td><%=user.mobile%></td>
      <td></td>
      <td></td>
    </tr>
    <%
  }
  %>
</table>
<%-pagination%>